  /* .best-label {
    position: absolute; 
    top: 0; 
    right: 0;
    padding: 10px 25px;
    background-color: #44B3F2;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50px;
  } */

  .best-label {
    position: absolute; 
    top: 0; 
    left: 0;
    padding: 7px 25px;
    background-color: #FC835E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 50px;
  
  }
  .best-label div {
    font-size: 10px;
    color: white;
  }

  /* select2 */
  .select2-results__options {
    display: flex;
    flex-direction: column;
  }


  /* range area start */
  /* .range-wrap {
      position: relative;
      margin: 0 auto 3rem;
    }
    .range {
      width: 100%;
    }

    .bubble {
      background: red;
      color: white;
      padding: 4px 12px;
      position: absolute;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
    }
    

    .bubble::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 2px;
      background: red;
      top: 30px;
      left: 50%;
    }

    .range-wrap output {
      margin-top: -30px;
    } */


    /* range area start */
.range-wrap {
    position: relative;
    /* margin: 0 auto 3rem; */
}

.range {
    width: 100%;
}

.bubble {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: 30px;
    left: 50%;
}

.range-wrap output {
    margin-top: -30px;
}
/* range area end */


  /* range area end */
