/* .best-label {
    position: absolute; 
    top: 0; 
    right: 0;
    padding: 10px 25px;
    background-color: #44B3F2;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50px;
  } */

/* color area */
.bg-basic {
  background-color: #dd0202;
}

.scroll-white {
  background-color: #fff;
}
/* color area end */

.best-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 25px;
  background-color: #fc835e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50px;
}
.best-label div {
  font-size: 10px;
  color: white;
}

/* select2 */
.select2-results__options {
  display: flex;
  flex-direction: column;
}

/* range area start */
/* .range-wrap {
      position: relative;
      margin: 0 auto 3rem;
    }
    .range {
      width: 100%;
    }

    .bubble {
      background: red;
      color: white;
      padding: 4px 12px;
      position: absolute;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
    }
    

    .bubble::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 2px;
      background: red;
      top: 30px;
      left: 50%;
    }

    .range-wrap output {
      margin-top: -30px;
    } */

/* range area start */
.range-wrap {
  position: relative;
  /* margin: 0 auto 3rem; */
}

.range {
  width: 100%;
}

.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: 30px;
  left: 50%;
}

.range-wrap output {
  margin-top: -30px;
}
/* range area end */

/* range area end */

/* card versus styling start */
.versus {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.versus div {
  background-color: white !important;
  padding: 8px 10px;
}

.versus div p {
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-box: 1px solid rgba(0, 0, 0, 0.5);
}
/* card versus styling end */

/* review card / rating */
.review-wrapper {
  min-height: 250px;
}
/* review card / rating end */

/* area compare start */

.desc-versus {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.desc-versus h3 {
  color: white;
}

/* area compare end */

/* jumbotron/ hook start  */
section.tools-slide .slide-1 div .slide-main img {
  width: 300px !important;
}

section.tools-slide
  .slide-1
  div
  .slide-main
  .custom-container
  .row
  div
  .slide-contain
  div
  h2 {
  color: #3b3b3b;
  text-shadow: 3px white !important;
}
#sampel {
  color: #3b3b3b;
  font-size: 80px;
  -webkit-text-stroke: 3px white;
  text-stroke: 200px black;
  /* text-shadow: 3px 3px 3px white !important;
      text-shadow: 3px white !important; */
}
/* jumbotron/ hook end  */

/* simluasi start */
section .simulasi-container .simulasi-wrapper .card {
  margin-top: -4rem;
}
/* simluasi end */

/* ======================== RESPONSIVE AREA START ===================== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section .simulasi-container .simulasi-wrapper .card {
    margin-top: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section .simulasi-container .simulasi-wrapper .card {
    margin-top: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section .simulasi-container .simulasi-wrapper .card {
    margin-top: -3rem;
  }

  .versus div {
    background-color: white !important;
    padding: 3px 5px;
  }

  .versus div p {
    font-size: 16px;
  }

  .desc-versus h3 {
    font-size: 12px;
  }

  .desc-versus a {
    font-size: 10px;
    padding: 5px 10px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .versus div {
    background-color: white !important;
    padding: 8px 10px;
  }

  .versus div p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-box: 1px solid rgba(0, 0, 0, 0.5);
  }

  .desc-versus {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .desc-versus h3 {
    color: white;
  }

  .desc-versus a {
    padding: 5px 10px !important;
    font-size: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .versus div {
    background-color: white !important;
    padding: 8px 10px;
  }

  .versus div p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-box: 1px solid rgba(0, 0, 0, 0.5);
  }

  .desc-versus {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .desc-versus h3 {
    color: white;
    font-size: 23px;
  }

  .desc-versus a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
/* ======================== RESPONSIVE AREA END ===================== */

.header-search .input-group .input-group-text {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #dd0202;
  color: #ffffff;
  border: none;
}
